@tailwind base;
@tailwind components;
@tailwind utilities;

.bgWhyLand {
	background-image: url('./assets/rectangleWhyLand.svg');
	background-repeat: no-repeat;
	background-position-y: center;
}

@layer components {
	.footer-column {
		@apply hidden mx-auto text-center ml:inline text-darkGray;
	}
}

.righRectangle {
	background-image: url(./assets/rightrectangle.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -20%;
}
.leftRectangle {
	background-image: url(./assets/leftrectangle.svg);
	background-size: contain;
}

.carousel-item-fixed-width {
	width: 385px !important ;
	padding-right: 50px !important;
	flex: 0 0 0 !important;
	height: auto;
}
